/****** Body ******/

body {
	font-size: 1.3em;
	margin: 0;
}

/****** Header ******/

header {
	background-color: #bec082;
	font-family: "Ubuntu", sans-serif;
	font-size: 1.8em;
	text-align: center;
	margin: 0 0 15px 0;
	padding: 1% 0 1% 0;
}
	
/****** Form styling ******/

form {
	font-family: "Khula", sans-serif;
	line-height: 1.9em;
	margin: 0 10%;
}


